/*
* @Author: Peter Wong
* @Date:   2018-03-16 12:47:07
* @Last Modified by:   Peter Wong
* @Last Modified time: 2018-03-16 12:49:07
*/

.footer{
    margin-top: 20px;
    padding-bottom: 10px;
}
.footer .links{
    text-align: center;
    color: #666;
    line-height: 30px;
}
.footer .links .link{
    padding: 0 10px;
}
.footer .copyright{
    text-align: center;
    color: #666;
    line-height: 30px;
}