<div class="footer">
    <div class="w">
        <div class="links">
            <a class="link" href="https://www.google.com.au/ target="_blank">Google</a> |
            <a class="link" href="https://www.ebay.com.au/" target="_blank">Ebay</a> |
            <a class="link" href="https://www.taobao.com" target="_blank">Baidu</a> |
            <a class="link" href="http://www.alibabagroup.com/en/global/home" target="_blank">Alibaba</a>
        </div>
        <p class="copyright">
            Copyright © 2018 happymmall.com All Right Reserved
        </p>
    </div>
</div>



<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>